.accordion-title {
    .accordion-button {
        position: relative;
        display: block;
        width: 100%;
        font-size: 16pt;
        color: $text;
        text-align: left;
        padding: 0;

        .accordion-button-icon {
            position: relative;
            top: 4px;
            transform: rotate(0);
            transform-origin: center;
            transition: all 0.3s linear;

            polyline {
                color: $text;
            }

            &.state-open {
                transform: rotate(45deg);
            }
        }
    }
}