// define card style
.card {
    padding: 1em;
    border-radius: 6px;
    background-color: #ffffff;

    // date
    .card-date {
        display: block;
        margin: 0;
        margin-bottom: 4px;
        color: currentColor;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11pt;
    }
    
    // bottom meta tags
    .card-meta-tags {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-right: auto;

        li {
            padding: 0 8px;
            margin-right: 12px;
            background-color: $purple-050;
            font-size: 12pt;
            border-radius: 6px;
            font-family: 'Courier New', Courier, monospace;

            &::before {
                content: "#";
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    // link
    .card-link {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 24px;
        padding: 8px 0;
        box-shadow: none;
        font-size: 12pt;
        border-radius: 6px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        color: $light-blue-050;
        background-color: $light-blue-800;
        border: 2px solid $light-blue-800;

        &:hover, &:focus {
            text-decoration: underline;
            background-color: transparent;
            color: $light-blue-800;
        }
    }
}