.footer {
	margin: 0;
	padding: 62px 0;

	h2 {
		display: block;
		width: 85%;
		margin: 0 auto;
		padding-top: 12px;
		color: currentColor;
		letter-spacing: 2.5px;
	}

	.menu {
		list-style: none;
		width: 85%;
		margin: 12px auto;
		padding: 0;

		.menu-item {
			margin-right: 24px;
			color: currentColor;

			.menu-link {
				color: currentColor;
				box-shadow: none;

				.menu-link-icon {
					path {
						fill: currentColor;
					}
				}

				&:hover {
					border-bottom-color: currentColor;
				}
			}
		}
	}
}
