.hero {
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	z-index: 1;

	.hero-content {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 32px;
		text-align: center;

		h1 {
			font-size: 32pt;
			line-height: 1.4;
		}

		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			list-style: none;
			padding: 0;
			margin: 0 auto;
			
			li {
				font-size: 18pt;

				&:not(:last-child)::after {
					content: "\2022";
					margin: 0 13px;
				}
			}
		}
	}
}

@media (min-width: 712px) {
	.hero {
		min-height: 75vh;

		.hero-content {
			max-width: 972px;
			margin: 0 auto;
		}
	}
}
