.main {
	display: block;
	width: 100%;
	padding: 32px 0;
	min-height: 60vh;

	.full-section {
		width: 100%;
		padding-top: 82px;
		padding-bottom: 12px;

		.full-section-content {
			width: 90%;
			margin: 0 auto;
		}
	}

	.main-section {
		display: block;
		width: 90%;
		padding: 0;
		padding-top: 82px;
		padding-bottom: 12px;
		box-sizing: border-box;
		margin: 0 auto;

		h2 {
			position: relative;
	
			&::before {
				content: "\0023";
				position: relative;
				width: 1em;
				margin-left: 0;
				margin-right: 0.2em;
				font-size: 18pt;
			}
		}
	}
}

@media (min-width: $screen-break) {
	.main {
		.main-section {
			max-width: $screen-break;
		}
	}
}
