//COLORS
$light: #f6f6f6;
$semi-light: #d8d8d8;
$med: #a3a6a8;
$text: #3f454b;
$dark: #2a2c32;
$primary: $dark;
$blue: hsl(218, 42%, 52%);
$green: hsl(169, 60%, 33%);
$blue-alt: hsla(218, 42%, 52%, 0.375);
$green-alt: hsla(169, 60%, 33%, 0.375);
$shadow: hsla(0, 0%, 0%, 0.18);
//END COLORS

$body-line-height: 1.7;
$heading-line-height: 1.4;
$screen-break: 972px;