@use "sass:color";
@import "_variables", "_fonts", "_base", "_grid", "_footer", "_hero", "_main", "_menuBtn", "_nav", "_navigation-links", "_card", "_expandable-list", "_accordion";

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.icon {
	width: 20px;
	height: 20px;
}

#intro {
	position: relative;
	background-color: $yellow;
	background-color: $green-alt;
}

#profile-illustration {
	position: absolute;
	bottom: -3px;
	left: calc(100% / 2 - 150px);
	display: block;
	width: 300px;
	height: 250px;
	margin: 0 auto;
	padding: 0;
}

.main-section {
	h2 {
		position: relative;

		&::before {
			content: "\0023";
			position: relative;
			width: 1em;
			margin-left: 0;
			margin-right: 0.2em;
			color: $dark;
			font-size: 18pt;
		}
	}
}

#projects {

	h2 {
		&::before {
			color: color.adjust($blue, $lightness: 8%);
		}
	}
	.card {
		.card-link {
			color: $light;
			border-color: color.adjust($blue, $lightness: 8%);
			background-color: color.adjust($blue, $lightness: 8%);

			&:hover, &:focus {
				text-decoration: underline;
				background-color: transparent;
				color: color.adjust($blue, $lightness: 8%);
			}
		}
	}
}

#blog {

	h2 {
		&::before {
			color: color.adjust($green-alt, $alpha: 0.45);
		}
	}
	.card {
		.card-link {
			color: $light;
			border-color: color.adjust($green-alt, $alpha: 0.45);
			background-color: color.adjust($green-alt, $alpha: 0.45);
			
			&:hover, &:focus {
				text-decoration: underline;
				background-color: transparent;
				color: color.adjust($green-alt, $alpha: 0.45);
			}
		}
		
		&#blog-read-more {
			display: flex;
			justify-content: center;
			align-items: center;
			background: none;
			
			.card-link {
				display: flex;
				justify-content: center;
				align-items: center;
				max-height: 30px;
				color: $dark;
				font-size: 16pt;
				border: none;
				background: none;
		
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

@media (min-width: $screen-break) {
	#intro {
		&:after {
			top: 40%;
			left: -23%;
		}
	}

	.main {
		.main-section {
			h2 {
				&::before {
					margin-left: -0.9em;
				}
			}
		}
	}

	#blog {
		.card {
			
			&#blog-read-more {
				padding: 0;
				margin: 0;
				
				.card-link {
					height: 100%;
				}
			}
		}
	}
}
