// @use "sass:color";
@import "_palette_20";
@import "_variables", "_fonts", "_base", "_grid", "_footer", "_hero", "_main", "_menuBtn", "_nav", "_navigation-links", "_card", "_expandable-list";

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.icon {
	width: 20px;
	height: 20px;
}

.nav {
	background-color: $light-blue-900;
	color: $cool-grey-050;

	.menu-toggle {
		color: $cool-grey-050;
	}
}

#profile {
	background: $light-blue-900;
	color: $cool-grey-050;

	h1, li {
		color: $cool-grey-050;
	}

	svg {
		position: absolute;
		bottom: -6px;
		left: calc(100% / 2 - 150px);
		display: block;
		width: 300px;
		height: 250px;
		margin: 0 auto;
		margin-top: 16px;
		
		circle {
			fill: $light-blue-600;
		}
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 125%;
		height: 415px;
		left: 175px;
		bottom: -70px;
		background-color: $light-blue-600;
		transform: rotate(-12deg);
		transform-origin: center;
		border-radius: 30% 20%;
		z-index: -1;
	}

}

.main {
	background-color: $cool-grey-100;

	h2 {
		&::before {
			color: $light-blue-600;
		}
	}
}


#blog {
	.card {
		&#blog-read-more {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			background: none;
			
			h3 {
				margin: 0;
				padding: 0;
			}
			
			.card-link {
				width: auto;
				padding: 0;
				margin: 0;
				color: $cool-grey-900;
				font-size: 16pt;
				border: none;
				background: none;
				border-radius: 0;
				text-decoration: none;
				box-shadow: inset 0 -3px 0 0 currentColor;
			}
		}
	}
}

.footer {
	background-color: $cool-grey-900;
	color: $cool-grey-050;
}

@media (min-width: $screen-break) {

	.main {
		.main-section {
			h2 {
				&::before {
					margin-left: -0.9em;
				}
			}
		}
	}

	#blog {
		.card {
			&#blog-read-more {
				padding: 0;
				margin: 0;
				
				// .card-link {
				// 	height: 100%;
				// }
			}
		}
	}
}
